{% extends 'base/base.html' %}

{% block content %}
    <div id="mine" class="container-fluid">

        <!-- <img class="rounded-circle account-img" src="{{ MEDIA_URL }} pictures/default.jpg"> -->
        <p id='content'>
            I am a <span>Freelancer</span>, I help solve problems weighed on my clients, develop dynamic applications and software to perform very specific ideas and automated tasks. I also write articles to share ideas and knowledge for blogs and websites based on research and my point of view.
        </p>
        <p id='content'>
            I have a knack for solving problems. I aim at always achieving a win-win for clients, I am values driven and passionate about the services I provide and do the utmost best to produce an outstanding delivery that can not be replicated. I believe I can do anything, all I need to do is give time to the power of learning.
        </p>
        <p id='content'>    
            Other extracurricular activities include being an active member to a team of programmers working together only to solve problems and synergism to create new ideas and make the world a better place for everyone.
        </p>
        <p id='content'>    
            Do you want unique and well drafted posts on your website? Or are you having problems with any Python based software or want one created for you to scrape websites, automate any task on your computer or any related activity? Please do not hesitate to contact me 
        </p>
        <ul id='content'>
            <li>CALL ME:-    +2348187827291</li>
            <li>MAIL ME:-    <a href="">Alfredemmanuelinyang@gmail.com</a></li>
        </ul>
        
    </div>
{% endblock %}