{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div id='mine' class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <img class="rounded-circle" src="{% static 'base/img/picture.jpg' %}">
        <h2><i class="fab fa-python"></i> <span>Alfred  </span>Emmanuel Inyang</h2>
        <h4>Python Web Developer - Programmer</h4>
    </div>
    




<!-- <div class="container">
   
    <hr>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="articles" class="card">
            <a href="">
                <h3>Discovering Django</h3>
                <hr>
            <a href="#">Read More!</a>
            </a>
        </div>
        <div id="articles" class="card">
            <a href="">
                <h3>The Best Web Backend Framework</h3>
                <hr>
            <a href="#">Read More!</a>
            </a>
        </div>
        <div id="articles" class="card">
            <a href="">
                <h3>48 Laws of Power</h3>
                <hr>
            <a href="#">Read More!</a>
            </a>
        </div>
    </div>
</div> -->
{% endblock %}