body {
    height: 100%;
    width: 100%;
    background: url('blur.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: linen
}

#link {
    color: rgb(190, 119, 5)
}

span#one {
    font-size: 4rem
}

#pict {
    text-align: center
}

p {
    font-family: fantasy;
    font-size: 1.5rem
}

h2 {
    font-family: 'Berkshire Swash', cursive;
    font-weight: bolder;
    font-size: 6.5rem;
    text-align: unset;
    margin: auto
}

#mypic {
    width: 350px;
    height: 350px;
    border: 5px solid rgb(190, 119, 5)
}

#head {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: rgb(190, 119, 5);
    font-weight: bolder;
    margin-right: 20px;
}

#mail {
    margin-left: 70rem
}

h4 {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center
}

#mine {
    margin: 8% auto;
    text-align: auto
}

.row {
    text-align: center;
    margin: auto auto
}

ul {
    text-align: left
}

#tabs {
    background-color: rgba(29, 31, 32, 0.541);
    padding: 10px;
    margin: 3% auto;
    text-align: left
}

em {
    text-align: right
}

span {
    color: rgb(255, 157, 0);
    font-weight: bolder
}

h3 {
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    margin: auto;
    color: rgb(217, 226, 96);
    font-weight: bold;
}

#one {
    color: rgba(252, 114, 22, 0.979);
    font-size: 15px
}

.jumbotron {
    text-align: left;
    font-size: 40px;
    margin: 20% auto;
}

.cont {
    padding-top: 20px
}

#content {
    margin: 2% auto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: rgba(245, 245, 245, 0.89);
    background-color: rgba(187, 59, 97, 0.424)
}

.fixed-bottom {
    background-color: rgba(93, 147, 194, 0.328);
}

hr {
    border-bottom: 1px solid #d9e0e4
}
