{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        {% if messages %}
            {% for message in messages %}
                <div class='alert alert-{{message.tags}}'>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">

            <div class="col-lg-9 pt-5 mt-5">
                <h2><span>Alfred  </span>Emmanuel Inyang</h2>
                <h4>Software Developer</h4>
            </div>
            <div class="col-lg-3">
                <img id="mypic" class="rounded-circle" src="{% static 'base/img/picture.jpg' %}">
            </div>
        </div>
    </div>
    
{% endblock %}